.nav {

    background: var(--primario);
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--white);
}

.nav>ul {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav>ul>li {
    list-style: none;
    margin-left: 30px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--whiteOscuro);
}

li :hover {

    color: var(--white);

}