 .containerLogin {

     width: 40%;
     height: 500px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: auto;
     margin-top: 80px;
     box-shadow: 0 0 4px 1px #625FD0;
     border-radius: 15px;
     min-width: 500px;
 }

 .imagenLogin {
     width: 50%;

     text-align: center;

     height: 500px;
 }

 .imagenL {
     width: 75%;
     margin-top: 60%;
     margin-bottom: auto;
     align-self: center;
 }

 .formularioLogin {
     width: 50%;
     background: var(--primario);
     height: 500px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-top-right-radius: 15px;
 }

 .inp {
     margin-top: 20px;
     padding-left: 10px;
     width: 95%;
     height: 30px;
     border-radius: 20px;
     border: none;
 }

 .button {
     margin-top: 20px;
     width: 80%;
     border-radius: 5px;
     border: none;
     height: 35px;
     background: var(--primarioOscuro);
     color: var(--white);
     font-weight: bold;
 }

 .tituloLogin {
     font-size: 1.5rem;
     color: var(--white);
 }